*/Release_Win32/*
*/Release_x64/**
*.local
**/.vs/**
**/__history/**
**/BCCFiles/**
**/.vs/**
**/ObjectFiles/**

**/Win32/Debug/**
**/Win32/Release/**
**/Win64/Debug/**
**/Win64/Release/**
x_Tangaria_build/PWMAngband/**
*.user



